<!DOCTYPE html>
<html>
   <body>
      <h3>Patients - Flask SQLAlchemy example</h3>
      <hr/>

      {%- for category, message in get_flashed_messages(with_categories = true) %}
         <div class = "alert alert-danger">
            {{ message }}
         </div>
      {%- endfor %}

      <form action = "{{ request.path }}" method = "post">
         <label for = "medicalRecordNumber">Medical Record Number</label><br>
         <input type="text" name="medicalRecordNumber" placeholder = "Medical Record Number" /><br>
         <input type = "submit" value = "Submit" />
      </form>
   </body>
</html>
